# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/build
/dist
/tmp
/out
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.cursor/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode
.vscode/*
!.vscode/
!.vscode/tasks.json
.history/*

# Miscellaneous
env.local
.env
.next
.angular
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Hugo
insight/.hugo_build.lock
insight/resources/
